body {
    background-color: #ffe9b0;
}

h1 {
    font-family: 'Rammetto One', Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    margin: 20px;
    font-family: 'Scheherazade', Arial, Helvetica, sans-serif;
    font-size: 27px;
    text-align: center;
    font-weight: 550;
}

#welcome_text {
    margin: 0px auto;
    position: relative;
    top: 50px;
}
.navbar a {
    position: relative;
    display: inline-block;
    float: none;
    top: 15px;
    left: 40%;
    margin: auto;
    padding: 14px 16px;
    color: black;
    font-family: 'Scheherazade',Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.navbar a:active {
    text-decoration: underline;
}

#homepage_jar {
    width: 500px;
}

#homepage_button {
    position: relative;
    background-color: peru; 
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    left: 40%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Reem Kufi', Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

#homepage_button:hover {background-color: rgb(184, 116, 48)}

#homepage_button:active {
  background-color: rgb(184, 116, 48);

  transform: translateY(4px);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #52504a;
    color: #ffffff;
    font-family: 'Reem Kufi', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
 }